
/*icon box*/
.icon-box {
    padding: 1rem;
    position: relative;
}

.about-img {
    max-width: 100%;
    vertical-align: middle;
    border-style: none;
    border-radius: .625rem!important;
    box-shadow: 0.5rem 0.5rem 0 rgba(233,236,239,.5);
}

/*teacher/ team*/


.card-body {
    flex: 1 1 auto;
    padding: 2rem;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .625rem;
    margin-bottom: 1.5rem;
}
.badge {
    display: inline-block;
    padding: .5em .5rem;
    font-size: .75rem;
    font-weight: 600;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .3125rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.badge.badge-top {
    position: absolute;
    top: -.75rem;
    bottom: auto;
}
.avatar.avatar-xlg {
    width: 7.5rem;
    height: 7.5rem;
}
.avatar {
    flex-shrink: 0;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}
/*event/ news*/


.th-event-card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #e7eaf3;
    border-radius: 0.3125rem;
}

.th-event-card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}
.th-event-media {
    
    align-items: flex-start;
}
.th-event-u-ver-divider {
    position: relative;
}
.th-event-u-ver-divider::after {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    border-right: 1px solid #e7eaf3;
    content: "";
}
.transition-3d-hover:hover, .transition-3d-hover:focus {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
    transition: all 0.2s ease-in-out;
}

.th-event-card-frame:hover{
  border-color: rgba(55, 125, 255, 0.3);
    box-shadow: 0 0 35px rgba(55, 125, 255, 0.125);
}
.th-news-card{
  position: relative;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #e7eaf3;
    border-radius: 0.3125rem;
}
.hero-image {
  
  background-color: #cccccc;
  height: 150px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.th-txt-truncate-3{

    display: -webkit-box;
    
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.th-txt-truncate-2{

    display: -webkit-box;
    
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}