/* general */
body{
    background: rgb(255, 255, 255);
}
.th-top-offset{
    height: 80px;
}
.th-logo-1{
    height: 65px;
    background-position-x: left;
    background-position-y: center;
    background-size: contain;
    background-repeat: no-repeat;
}
@media only screen and (max-width: 600px) {
  .th-logo-1{height: 45px;}
  .th-top-offset{height: 60px;}
}
.th-logo-2{
    height: 45px;
    background-position-x: left;
    background-position-y: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.th-rob{
    font-family: 'Roboto', sans-serif;
}
.th-12{
    font-size: 12px;
}
.th-14{
    font-size: 14px;
}
.th-16{
    font-size: 16px;
}
.th-18{
    font-size: 18px;
}
.th-20{
    font-size: 20px;
}
.th-24{
    font-size: 24px;
}
.th-30{
    font-size: 30px;
}
.th-36{
    font-size: 36px;
}
.th-72{
    font-size: 72px;
}
/* font weight */
.th-thin{
    font-weight: 100;
}
.th-light{
    font-weight: 300;
}
.th-regular{
    font-weight: 400;
}
.th-medium{
    font-weight: 500;
}
.th-bold{
    font-weight: 700;
}
/* font color */
.th-black{
    color: #4B4B4B;
}
.th-grey{
    color: #959595;
}
.th-red{
    color: #F2726F;
}
.th-white{
    color: #FFFFFF;
}
.th-blue{
    color: #5D62B5;
}
/* Link */
.th-link-blue:hover {
    text-decoration: none;
    color: #5D62B5;
}
.th-link-green-1:hover {
    text-decoration: none;
    color: #29C3BE;
}
.th-link-red:hover {
    text-decoration: none;
    color: #F2726F;
}
.th-link-green-2:hover {
    text-decoration: none;
    color: #62B58F;
}
/* BUTTON */
.th-btn-blue{
    height: 48px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #FFFFFF;
    background: #5D62B5;
    border-radius: 3px;
    border: none;
}
.th-btn-green-1{
    height: 48px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #FFFFFF;
    background: #29C3BE;
    border-radius: 3px;
    border: none;
}
.th-btn-red{
    height: 48px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #FFFFFF;
    background: #F2726F;
    border-radius: 3px;
    border: none;
}
.th-btn-green-2{
    height: 48px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #FFFFFF;
    background: #62B58F;
    border-radius: 3px;
    border: none;
}
/* BG Color */
.th-bg-blue{
    background: #5D62B5;
}
.th-bg-green-1{
    background: #29C3BE;
}
.th-bg-red{
    background: #F2726F;
}
.th-bg-green-2{
    background: #62B58F;
}
/* BG Color Neutral */
.th-bg-black{
    background: #000000;
}
.th-bg-grey-4{
    background: #4B4B4B;
}
.th-bg-grey-3{
    background: #959595;
}
.th-bg-grey-2{
    background: #D5D5D5;
}
.th-bg-grey-1{
    background: #F5F5F5;
}
.th-bg-white{
    background: #FFFFFF;
}

/* CARDS */
.th-text-al-center{
    text-align: center;
}
.th-card-1{
    border-radius: 20px;
}

/* FORM*/
.th-form-style{
    /*box-shadow: 1px 1px solid black;
    width: 90% !important;*/
    height:48px;
    border-radius: 5px !important;
    border-color: #5D62B5 !important;
}
.th-rectangle{
    background-color: black;
    width:180px;
    height: 0.3vh;
}
.th-slider{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 85vh;
    width: 100%;
    z-index: 10000;
}
.th-btn-slider{
    
    line-height: 15px !important;background-color:#fff !important;height:50px !important;width:50px !important;border-radius:50% !important;z-index:1000;
}
.th-btn-slider img{
    height:12px;
    width:12px;
}
#slider-overhead-btn .slick-disabled
{
    display: inline-block;
    opacity: 0.5;
}

@media only screen and (max-width: 600px) {
  #slider-overhead-btn .slick-disabled
    {
        display: none !important;
    }
}
button:focus{outline: none}
:focus{outline: none}

.th-opacity{opacity: 0.5}